.button {
  /* Base styles */
  border: none;
  border-radius: calc(var(--border-radius-8) * 1px);
  padding: calc(var(--units-12) * 1px) calc(var(--units-16) * 1px);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-700);
  font-family: var(--font-family-sans);
  cursor: pointer;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

/* Primary variant */
.button--primary {
  background-color: var(--surface-surface-brand-default);
  color: var(--text-text-brand-secondary);
}

.button--primary:hover {
  background-color: var(--surface-surface-brand-hover);
}

/* Secondary variant */
.button--secondary {
  background-color: transparent;
  color: var(--text-text-brand-default);
  border: 1px solid var(--border-stroke-brand);
}

.button--secondary:hover {
  background-color: var(--surface-surface-brand-secondary-hover);
}
